
:root {
  --unconfirmed-color: #fff;
  --confirmed-color: #f00;
}

.reg-question {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  padding: 5vh;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}

.reg-question h2 {
  margin-bottom: 20px;
  align-self: center;

}

.reg-question #submit {
  align-self: center;
  width: 50%;
  background-color: white;
}

.active {
  background-color: #f00;
}


.authentication {
  display: grid;
  grid-template-areas:
    "tag tag" 
    "name surname"
    "email phone"
    "message message"
    "btn btn";
  gap: 2%;
  background: rgba(255, 255, 255, 0.3);
  padding: 7vh;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  /* transition: all 0.5s ease; */
  }

  .auth-tag {
    display: block;
    grid-area: tag;
  }
  .auth-name {
    display: block;
    grid-area: name;
  }
  .auth-surname {
    display: block;
    grid-area: surname;
  }
  .auth-mail {
    display: block;
    grid-area: email;
  }
  .auth-tel {
    display: block;
    grid-area: phone;
  }
  .auth-message {
    display: block;
    grid-area: message;
  }
  .auth-btn {
    display: block;
    grid-area: btn;
  }

  .auth-container p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .authentication a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
  }

  .authentication a:hover {
    text-shadow: 2px 2px 6px #00000040;
  }
  
  .authentication a:active {
    text-shadow: none;
  }

  .authentication input,
  .title-box input {
    background: transparent;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .authentication input:hover,
  .title-box input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  .authentication input[type=email]:focus, form input[type=password]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  .authentication input[type=button] {
    margin-top: 10px;
    font-size: 1rem;
  }
  .authentication input[type=button]:hover {
    cursor: pointer;
  }
  .authentication input[type=button]:active {
    background: rgba(255, 255, 255, 0.2);
  }
  
  ::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  :-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }