img {
    border-radius: 15px;
}

aside img {
    width: 100%;
    height: auto;

}

.img-container {
    overflow: hidden;
}

.img-overflow {
    overflow: hidden;
    position: relative;
}

.img-overflow::before {
    position: absolute;
    display: flex;
    align-items: flex-end;
    content: 'Intel i7 9700K и AMD Ryzen 7 5800X ';
    font-size: 22px;
    width: 90%;
    height: 100%;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(45deg, rgba(169, 34, 34, 0.441),rgba(0, 0, 0, 0.5));
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    left: -200%;
    transition: .5s;
    transition-timing-function: ease;
    backdrop-filter: blur(5px);
}

.img-overflow:hover::before {
    left: 0;
}

.title-box .title-img {
    width: 90%;
}