
.notification-btn {
    cursor: pointer;
    position:fixed;
    display: flex;
    flex-wrap: wrap;
    top: 89%;
    left: 94%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #323232;
    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: 0.5s;
}

.notification-btn img {
    margin: 23%;
}

.notification-btn-content {
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
}

.notification-btn:hover {
    animation: circle-to-rectangle 0.5s ease forwards;

}

.notification-btn-content .notification-btn-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.notification-btn ul {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 200px;
    line-height: 30px;
    font-size: 16px;
}

.notification-btn ul li a:link,
a:visited {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0%;
    color: white;
}

.notification-btn ul li:hover {
    animation: font-inc 0.5s ease forwards;
}

.notification-btn ul li {
    list-style-type: none;
}

.notification-btn:hover ul {
    animation: ul-margine 1s ease forwards;
    animation-delay: 0.1s;
}

@keyframes ul-margine {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 5;
        visibility: visible;
    }
}

@keyframes circle-to-rectangle {
    to {
        top: 59%;
        left: 86%;
        width: 200px;
        height: 300px;
        border-radius: 5%;
        background-color: #525252;
        align-content: flex-start;
    }

}

@keyframes font-inc {
    to {
        font-size: 20px;
        background-color: rgb(18, 18, 18);
    }
}





