@media (min-width: 320px) and (max-width: 768px) {

    header nav {
        visibility: hidden;
    }

    header .burger-menu {
        visibility: visible;
    }

    main {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "sidebar"
        "main";
    }

    footer {
        grid-template-columns: 100%;
    }

    .auth-container {
        grid-template-areas:
            "tag" 
            "name"
            "surname"
            "email"
            "phone"
            "message"
            "btn";
    }
}