@media (min-width: 769px) and (max-width: 1000px) {

    header nav {
        visibility: hidden;
    }

    header .burger-menu {
        visibility: visible;
    }
    
    main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "sidebar"
        "main-info";
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    .auth-container {
        display: grid;
        grid-template-areas:
            "tag tag" 
            "name surname"
            "email phone"
            "message message"
            "btn btn";
    }
}