footer {
    grid-area: footer;
    line-height: 1.5;
    background-color: #323232;
}

.footer-container {
    text-align: left;
    padding: 2vh;
}

.footer-container h2::after {
    content: '';
    background-color:wheat;
    height: 4px;
    width: 15%;
    margin: 1% 0;
    display: block;
}

.footer-container li {
    list-style-type: none;
}





