*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(41, 41, 41);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
    border: 3px solid rgb(79, 79, 79);
  }